#default rules
.git
.vscode
**/temp
**/obj/
**/resources
**/a.out
**/*.a
**/tester.c

#added rules
minishell
minishell.tar
here_docs/*
.nfs*
**/exec
tester/expected_output
tester/mini_output
tester/traces.diff
**/*.h.gch
safe_cd/
backupremain.c
